Repository lambdaclass/cairo-vm, pull requests merged in 2023-04, with the labels that each got.

#913 [0.11] Add `SegmentArenaBuiltinRunner`
  src/vm/errors/memory_errors.rs
  src/vm/runners/builtin_runner/mod.rs
  src/vm/runners/builtin_runner/segment_arena.rs
  src/vm/runners/cairo_runner.rs
Labels: release-0.11

#715 Add quad hint and integration test
  cairo_programs/is_quad_residue_test.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/math_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#962 Add pipeline to enforce updating CHANGELOG.md
  .github/workflows/changelog.yml
Labels: pipelines

#987 Fix workflows not running on merge queue
  .github/workflows/changelog.yml
  .github/workflows/rust.yml
Labels: pipelines

#957 feat: Implement hint on `uint256_mul_div_mod`
  CHANGELOG.md
  cairo_programs/uint256.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/uint256_utils.rs
Labels: whitelisted-hint

#960 feat: Implement hints on uint384 lib (Part 1)
  CHANGELOG.md
  cairo_programs/is_quad_residue_test.cairo
  cairo_programs/uint384.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/mod.rs
  src/hint_processor/builtin_hint_processor/uint384.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#958 feat: Add alternative hint code for hint on `_block_permutation` used by 0.10.3 whitelist
  CHANGELOG.md
  cairo_programs/_keccak_alternative_hint.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#971 feat: Implement hints on uint384 lib (Part 2)
  CHANGELOG.md
  cairo_programs/uint384.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/uint384.rs
Labels: whitelisted-hint

#984 feat(hints): add NewHint#30
  CHANGELOG.md
  cairo_programs/ed25519_ec.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#986 feat(hints): add NewHint#29
  CHANGELOG.md
  cairo_programs/ed25519_ec.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
Labels: whitelisted-hint

#989 feat(hints): add NewHint#28
  CHANGELOG.md
  cairo_programs/ed25519_field.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/field_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#965 ci: add Hyperfine pipelines
  .github/workflows/hyperfine.yml
  .github/workflows/iai_pr.yml
Labels: pipelines

#990 feat(hints): add NewHint#27
  CHANGELOG.md
  cairo_programs/efficient_secp256r1_ec.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#964 test: unit tests for cairo-vm-cli
  Cargo.lock
  cairo-vm-cli/Cargo.toml
  cairo-vm-cli/src/main.rs
  src/vm/runners/cairo_runner.rs
Labels: tests, coverage

#1001 ci: fix head programs not being stored in cache
  .github/workflows/hyperfine.yml
Labels: pipelines

#992 feat(hints): add NewHint#26
  CHANGELOG.md
  cairo_programs/ed25519_field.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/field_utils.rs
  src/hint_processor/builtin_hint_processor/secp/signature.rs
Labels: whitelisted-hint

#994 feat(hints): add NewHint#25 and NewHint#24
  CHANGELOG.md
  cairo_programs/div_mod_n.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/signature.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#995 perf: add benchmarks for runner construction
  .github/workflows/iai_pr.yml
  bench/criterion_benchmark.rs
  bench/iai_benchmark.rs
Labels: coverage

#996 feat(hints): add NewHint#23
  CHANGELOG.md
  cairo_programs/is_zero.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/field_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1003 feat(hints): add NewHint#22
  CHANGELOG.md
  cairo_programs/is_zero_pack.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/field_utils.rs
  src/hint_processor/builtin_hint_processor/secp/signature.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1006 feat(hints): add NewHint#13
  CHANGELOG.md
  cairo_programs/quad_bit.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1008 feat(hints): add NewHint#14
  CHANGELOG.md
  cairo_programs/highest_bitlen.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/bigint_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1009 feat(hints): add NewHint#15
  CHANGELOG.md
  cairo_programs/n_bit.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1010 feat(hints): add NewHint#32
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cairo_programs/is_zero.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/field_utils.rs
Labels: whitelisted-hint

#1016 feat(hints): add NewHint#43
  CHANGELOG.md
  cairo_programs/uint256_improvements.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/uint256_utils.rs
Labels: whitelisted-hint

#1024 feat(hints): add NewHint#45
  CHANGELOG.md
  cairo_programs/uint256_improvements.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/uint256_utils.rs
Labels: whitelisted-hint

#1025 feat(hints): add NewHint#44
  CHANGELOG.md
  cairo_programs/uint256_improvements.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/uint256_utils.rs
Labels: whitelisted-hint

#1014 Newhint#20 and Newhint#16: add COMPUTE_SLOPE_SECP256R1 and IMPORT_SECP256R1_P
  CHANGELOG.md
  cairo_programs/secp256r1_slope.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/secp_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1000 Implement Hint#48 pack512
  CHANGELOG.md
  cairo_programs/inv_mod_p_uint512.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/mod.rs
  src/hint_processor/builtin_hint_processor/vrf/inv_mod_p_uint512.rs
  src/hint_processor/builtin_hint_processor/vrf/mod.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1034 ci: bash is not happy without space between ! and command
  .github/workflows/hyperfine.yml
Labels: pipelines

#1015 ci: script to keep track of missing hints
  .github/codecov.yml
  .github/workflows/hint_accountant.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  hint_accountant/Cargo.toml
  hint_accountant/src/main.rs
  hint_accountant/whitelists/0.10.3.json
  hint_accountant/whitelists/0.6.0.json
  hint_accountant/whitelists/0.8.2.json
  hint_accountant/whitelists/384_bit_prime_field.json
  hint_accountant/whitelists/cairo_blake2s.json
  hint_accountant/whitelists/cairo_keccak.json
  hint_accountant/whitelists/cairo_secp.json
  hint_accountant/whitelists/cairo_sha256.json
  hint_accountant/whitelists/cairo_sha256_arbitrary_input_length.json
  hint_accountant/whitelists/ec_bigint.json
  hint_accountant/whitelists/ec_recover.json
  hint_accountant/whitelists/encode_packed.json
  hint_accountant/whitelists/latest.json
  hint_accountant/whitelists/uint256_improvements.json
  hint_accountant/whitelists/vrf.json
Labels: pipelines

#1004 feat: Implement hints on field_arithmetic lib (Part 2)
  CHANGELOG.md
  cairo_programs/field_arithmetic.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/field_arithmetic.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/math_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1032 feat(hints): Implement NewHint#37
  CHANGELOG.md
  cairo_programs/ec_recover.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/ec_recover.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/mod.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1036 feat(hints): Implement NewHint#38
  CHANGELOG.md
  cairo_programs/ec_recover.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/ec_recover.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
Labels: whitelisted-hint

#1030 feat(hints): add NewHint#47
  CHANGELOG.md
  cairo_programs/benchmarks/field_arithmetic_get_square_benchmark.cairo
  cairo_programs/field_arithmetic.cairo
  cairo_programs/fq.cairo
  cairo_programs/fq_test.cairo
  cairo_programs/uint384.cairo
  cairo_programs/uint384_extension.cairo
  cairo_programs/uint384_extension_test.cairo
  cairo_programs/uint384_test.cairo
  src/hint_processor/builtin_hint_processor/bigint.rs
  src/hint_processor/builtin_hint_processor/blake2s_utils.rs
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/cairo_keccak/keccak_hints.rs
  src/hint_processor/builtin_hint_processor/dict_hint_utils.rs
  src/hint_processor/builtin_hint_processor/ec_recover.rs
  src/hint_processor/builtin_hint_processor/field_arithmetic.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/hint_utils.rs
  src/hint_processor/builtin_hint_processor/keccak_utils.rs
  src/hint_processor/builtin_hint_processor/math_utils.rs
  src/hint_processor/builtin_hint_processor/memcpy_hint_utils.rs
  src/hint_processor/builtin_hint_processor/memset_utils.rs
  src/hint_processor/builtin_hint_processor/mod.rs
  src/hint_processor/builtin_hint_processor/poseidon_utils.rs
  src/hint_processor/builtin_hint_processor/pow_utils.rs
  src/hint_processor/builtin_hint_processor/secp/bigint_utils.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/field_utils.rs
  src/hint_processor/builtin_hint_processor/secp/secp_utils.rs
  src/hint_processor/builtin_hint_processor/secp/signature.rs
  src/hint_processor/builtin_hint_processor/segments.rs
  src/hint_processor/builtin_hint_processor/set.rs
  src/hint_processor/builtin_hint_processor/sha256_utils.rs
  src/hint_processor/builtin_hint_processor/signature.rs
  src/hint_processor/builtin_hint_processor/squash_dict_utils.rs
  src/hint_processor/builtin_hint_processor/uint256_utils.rs
  src/hint_processor/builtin_hint_processor/uint384.rs
  src/hint_processor/builtin_hint_processor/uint384_extension.rs
  src/hint_processor/builtin_hint_processor/uint512_utils.rs
  src/hint_processor/builtin_hint_processor/uint_utils.rs
  src/hint_processor/builtin_hint_processor/usort.rs
  src/hint_processor/builtin_hint_processor/vrf/fq.rs
  src/hint_processor/builtin_hint_processor/vrf/inv_mod_p_uint512.rs
  src/hint_processor/builtin_hint_processor/vrf/mod.rs
  src/hint_processor/hint_processor_utils.rs
  src/tests/cairo_run_test.rs
  src/utils.rs
  src/vm/runners/builtin_runner/bitwise.rs
  src/vm/runners/builtin_runner/ec_op.rs
  src/vm/runners/builtin_runner/hash.rs
  src/vm/runners/builtin_runner/keccak.rs
  src/vm/runners/builtin_runner/output.rs
  src/vm/runners/builtin_runner/poseidon.rs
  src/vm/runners/cairo_runner.rs
  src/vm/security.rs
  src/vm/trace/mod.rs
Labels: whitelisted-hint

#1041 feat(hint): support hint #66 for keccak_finalize
  CHANGELOG.md
  cairo_programs/cairo_finalize_keccak_block_size_1000.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/cairo_keccak/keccak_hints.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1037 feat(hints): Implement NewHint#39
  CHANGELOG.md
  cairo_programs/ec_recover.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/ec_recover.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
Labels: whitelisted-hint

#1035 feat(hints): Implement NewHint#62 and NewHint#54
  CHANGELOG.md
  cairo_programs/compute_slope_v2.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/field_utils.rs
  src/hint_processor/builtin_hint_processor/secp/secp_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1043 feat(hints): add NewHint#49
  CHANGELOG.md
  cairo_programs/fq.cairo
  cairo_programs/fq_test.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/vrf/fq.rs
  src/hint_processor/builtin_hint_processor/vrf/inv_mod_p_uint512.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1047 feat(hints): Implement NewHint#63 & NewHint#65
  CHANGELOG.md
  cairo_programs/assert_le_felt_old.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/math_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1039 feat(hints): Implement NewHint#11
  CHANGELOG.md
  cairo_programs/finalize_blake2s_v2_hint.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1049 feat(hints): add NewHint#51
  CHANGELOG.md
  cairo_programs/uint384_extension.cairo
  cairo_programs/uint384_extension_test.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/uint384_extension.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1050 feat(hints): add NewHint#53
  CHANGELOG.md
  cairo_programs/fq.cairo
  cairo_programs/fq_test.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/uint256_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1040 feat(hints): Implements NewHint#12
  CHANGELOG.md
  cairo_programs/example_blake2s.cairo
  src/hint_processor/builtin_hint_processor/blake2s_utils.rs
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1054 feat(hints): add NewHint#58
  CHANGELOG.md
  cairo_programs/ec_negate.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1046 feat(hints): NewHint#67 cairo_keccak.json `_block_permutation`
  CHANGELOG.md
  cairo_programs/_keccak_alternative_hint.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/cairo_keccak/keccak_hints.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1056 feat(hints): add NewHint#61
  CHANGELOG.md
  cairo_programs/compute_doubling_slope_v2.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/secp_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1044 feat(hints): Implement NewHint#64
  CHANGELOG.md
  cairo_programs/bitand_hint.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/math_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1002 ci: pipelines overhaul and optimization
  .github/workflows/docs.yml
  .github/workflows/hyperfine.yml
  .github/workflows/rust.yml
  Makefile
  cairo-vm-cli/src/main.rs
  felt/src/bigint_felt.rs
  felt/src/lib.rs
  hint_accountant/src/main.rs
  rust-toolchain
  src/vm/errors/vm_exception.rs
Labels: pipelines

#1045 feat(hints): add NewHint#50
  CHANGELOG.md
  cairo_programs/field_arithmetic.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/field_arithmetic.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/tests/cairo_run_test.rs
  src/utils.rs
Labels: whitelisted-hint

#1061 ci: improve caching by using make and restoring mtimes
  .github/workflows/canary.yml
  .github/workflows/rust.yml
  Makefile
Labels: pipelines

#1053 feat(hints): Implement NewHint#59
  CHANGELOG.md
  cairo_programs/ec_double_assign_new_x_v3.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1052 feat(hints): NewHint#60
  CHANGELOG.md
  cairo_programs/fast_ec_add_v2.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/secp_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1026 Newhint#17 & Newhint#18 imports of SECP256R1_ALPHA and SECP256R1_N
  CHANGELOG.md
  cairo_programs/secp256r1_div_mod_n.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/secp_utils.rs
  src/hint_processor/builtin_hint_processor/secp/signature.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1057 feat(hints): add NewHint#19
  CHANGELOG.md
  cairo_programs/ec_double_slope.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/secp/ec_utils.rs
  src/hint_processor/builtin_hint_processor/secp/secp_utils.rs
  src/tests/cairo_run_test.rs
  src/utils.rs
Labels: whitelisted-hint

#1055 feat(hints): Implement NewHint#46
  CHANGELOG.md
  cairo_programs/split_xx_hint.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/math_utils.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1091 feat(hints): add NewHint#34
  CHANGELOG.md
  cairo_programs/packed_sha256_test.cairo
  cairo_programs/sha256.cairo
  cairo_programs/sha256_test.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/hint_utils.rs
  src/hint_processor/builtin_hint_processor/sha256_utils.rs
  src/hint_processor/builtin_hint_processor/uint384.rs
  src/tests/cairo_run_test.rs
  src/vm/errors/hint_errors.rs
Labels: whitelisted-hint

#1093 fix(hint): Fix missing line on GET_SQUARE_ROOT hint
  CHANGELOG.md
  cairo_programs/field_arithmetic.cairo
  src/hint_processor/builtin_hint_processor/field_arithmetic.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint

#1077 Feat(hints) 55, 56 & 57
  CHANGELOG.md
  cairo_programs/is_zero.cairo
  cairo_programs/is_zero_pack.cairo
  cairo_programs/reduce.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/vrf/mod.rs
  src/hint_processor/builtin_hint_processor/vrf/pack.rs
  src/tests/cairo_run_test.rs
  src/utils.rs
Labels: whitelisted-hint

#1090 feat(hints): Implement hint on sub_reduced_a_and_reduced_b
  CHANGELOG.md
  cairo_programs/benchmarks/field_arithmetic_get_square_benchmark.cairo
  cairo_programs/field_arithmetic.cairo
  cairo_programs/uint384.cairo
  cairo_programs/uint384_test.cairo
  src/hint_processor/builtin_hint_processor/builtin_hint_processor_definition.rs
  src/hint_processor/builtin_hint_processor/hint_code.rs
  src/hint_processor/builtin_hint_processor/uint384.rs
  src/tests/cairo_run_test.rs
Labels: whitelisted-hint
